@model List<Hall>

<!DOCTYPE html>
<!-- Coding By CodingNepal - youtube.com/codingnepal -->
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <title>Dynamic Calendar JavaScript | CodingNepal</title>
    <link rel="stylesheet" href="style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Google Font Link for Icons -->
    <link rel="stylesheet" href="~/css/site.css">
    <script src="script.js" defer></script>
</head>
<body>
    <script src="~/js/calendarScript.js" defer></script>
    <div class="wrapper">
        <header>
            <p class="current-date"></p>
            <div class="icons">
                <span id="prev" class="material-symbols-rounded"><</span>
                <span id="next" class="material-symbols-rounded">></span>
            </div>
        </header>
        <div class="calendar">
            <ul class="weeks">
                <li>Вск</li>
                <li>Пон</li>
                <li>Втр</li>
                <li>Сре</li>
                <li>Чет</li>
                <li>Пят</li>
                <li>Суб</li>    
            </ul>
            <ul class="days"></ul>
        </div>
    </div>
    <div class="booking-panel">
        <h2>Выбранная дата: <span id="selected-date"></span></h2>
        <label for="booking-time">Выберите время:</label>
        <select id="booking-time-start">
            @for (int hour = 8; hour <= 20; hour++)
            {
                for (int minute = 0; minute < 60; minute += 15)
                {
                    @:<option"> @hour:D2:minute:D2 </option>
                }
            }
            <!-- Добавьте остальные варианты времени здесь -->
        </select>
        <select id="booking-time-end">
            <option value="08:00">08:00</option>
            <option value="09:00">09:00</option>
            <option value="10:00">10:00</option>
            <option value="11:00">11:00</option>
            <option value="12:00">12:00</option>
            <option value="13:00">13:00</option>
            <!-- Добавьте остальные варианты времени здесь -->
        </select>
        <label for="booking-room">Выберите зал:</label>
        <select id="booking-room">
            @foreach(var hall in Model) 
            {
                @:<option value="@hall.Name"> @hall.Name </option>
            }
            <!-- Добавьте остальные варианты зала здесь -->
        </select>
        <button id="book-button">Забронировать</button>
    </div>
</body>
</html>